*.tfstate
*.tfstate.*
crash.log
crash.*

.terraform/

*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

.aws/
credentials
.env
.env.*

.DS_Store
Thumbs.db
*.log

*.pdf

node_modules/
*.zip